.ion-flex-column {
    display: flex;
    flex-direction: column;
}

.icon-size {
    height: 30px;
    width: 30px;
}

.icon-size-large {
    width: 45px;
    height: 45px;
}

.ion-size-large {
    font-size: 28px;
}

.ion-size-small {
    font-size: 14px;
}

.ion-bold {
    font-weight: bold;
}

.ion-border-bottom {
    border-bottom: 1px solid #ddd;
}

.ion-border-vertical {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

ion-avatar {
    width: 65px;
    height: 65px;
}

.ion-button-edit {
    color: black;
    font-weight: bold;
    --box-shadow: none;
    border: 1px solid #ddd;
    --background: white;
    text-transform: initial;
    height: 30px;
    border-radius: 5px;
}

.ion-border {
    border: 1px solid black;
}

.ion-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ion-margin-vertical-large {
    margin-top: 80px;
}

.ion-padding-vertical-small {
    padding-top: 5px;
    padding-bottom: 5px;
}