<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="icon-size" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      mariagomez
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="icon-size" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-margin">
      <ion-col size="3" class="ion-no-padding">
        <div>
          <ion-avatar>
            <ion-img src="https://laboratoriosniam.com/wp-content/uploads/2018/07/michael-dam-258165-unsplash_WEB2.jpg"></ion-img>
          </ion-avatar>
        </div>
      </ion-col>

      <ion-col size="9" class="ion-padding-start">
        <div class="ion-flex-column">
          <ion-label class="ion-size-large">mariagomez</ion-label>
          <ion-button class="ion-button-edit">Editar perfil</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <div class="ion-padding ion-border-bottom">
      <ion-label class="ion-size-small ion-bold">María Gómez</ion-label>
    </div>

    <ion-row class="ion-justify-content-around ion-padding">
      <ion-col size="4">
        <div class="ion-flex-column">
          <ion-label class="ion-size-small ion-bold ion-text-center">0</ion-label>
          <ion-label class="ion-size-small ion-text-center" color="medium">publicaciones</ion-label>
        </div>
      </ion-col>
      <ion-col size="4"> 
        <div class="ion-flex-column">
          <ion-label class="ion-size-small ion-bold ion-text-center">104</ion-label>
          <ion-label class="ion-size-small ion-text-center" color="medium">seguidores</ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-flex-column">
          <ion-label class="ion-size-small ion-bold ion-text-center">125</ion-label>
          <ion-label class="ion-size-small ion-text-center" color="medium">seguidos</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around ion-padding-vertical-small ion-border-vertical">
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="grid-outline" class="icon-size" color="secondary"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="laptop-outline" class="icon-size" color="medium"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="bookmark-outline" class="icon-size" color="medium"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="image-outline" class="icon-size" color="medium"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="ion-flex-column ion-align-items-center ion-margin-vertical-large">
      <ion-avatar class="ion-border ion-flex-center">
        <ion-icon name="camera-outline" class="icon-size-large"></ion-icon>
      </ion-avatar>

      <ion-label class="ion-size-large ion-margin-vertical">Comparte fotos</ion-label>
      <ion-label class="ion-padding-horizontal ion-text-center">Cuando compartas fotos, aparecerán en tu perfil.</ion-label>
      <ion-label color="secondary" class="ion-margin-top">Comparte tu primera foto</ion-label>
    </div>
  </ion-grid>
</ion-content>
