.ion-search {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-input {
    max-width: 50px;
    font-size: 15px;
    margin-left: 3px;
}


