<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-search" (click) = "searchUser()">
      <ion-icon name="search" color="medium"></ion-icon>
      <ion-input type="text" placeholder="Buscar" class="ion-no-padding"></ion-input>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12" *ngFor = "let imagen of imagenes">
      <ion-img [src]="imagen"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>
