.icon-size {
    height: 30px;
    width: 30px;
}

.ion-bold {
    font-weight: bold;
}

.ion-size-medium {
    font-size: 20px;
}

.ion-size-small {
    font-size: 13px;
}

.ion-size-very-small {
    font-size: 12px;
}

.ion-row-center-vertical {
    display: flex;
    align-items: center;
}

.ion-flex {
    display: flex;
}

.ion-size-logo-instagram {
    width: 100px;
}

.ion-scroll {
    height: auto;
    padding: 20px 0 20px 0;
    box-sizing: content-box;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.ion-parent-profile {
    min-width: 65px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ion-rounded {
    min-width: 65px;
    min-height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -webkit-gradient(left top,right top,color-stop(0%,rgba(51,68,131,1)),color-stop(100%,rgba(110,35,104,1)));
    background: -webkit-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -o-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: -ms-linear-gradient(left,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    background: linear-gradient(to right,rgba(51,68,131,1) 0%,rgba(110,35,104,1) 100%);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334483',endColorstr='#6e2368',GradientType=1 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334483',endColorstr='#6e2368',GradientType=1 );
}

.ion-parent-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ion-size-img {
    width: 57px;
    height: 57px;
}
.ion-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ion-nowrap {
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

