<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="icon-size" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <div>
        <ion-img class="ion-size-logo-instagram" src="https://anthoncode.com/wp-content/uploads/2019/07/logotipo-instagram.png"></ion-img>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-scroll">
    <div class="ion-parent-profile ion-margin-start">
      <div style="min-height: 65px">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://laboratoriosniam.com/wp-content/uploads/2018/07/michael-dam-258165-unsplash_WEB2.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">Tu historia</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://concepto.de/wp-content/uploads/2018/08/persona-e1533759204552.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">andres_parra</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://lamenteesmaravillosa.com/wp-content/uploads/2018/09/hombre-creido-pensando-que-sabe.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">albertoelpro</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://www.xlsemanal.com/wp-content/uploads/sites/3/2019/12/edward-norton-no-te-puedes-fiar-de-las-personas-que-fueron-felices-cuanto-tenian-14-anso.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">dr.medasculo_moreno</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://www.redaccionmedica.com/images/destacados/las-personas-con-un-riesgo-genetico-bajo-de-tdah-son-mas-afortunadas--2868.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">hanssel_hurtado</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3fzbzgulV0nxqkYYsNRBGV2vl02tePH36GA&usqp=CAU"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">alberto.mejia</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://static.iris.net.co/dinero/upload/images/2020/6/9/289130_1.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">odacir_enrique</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://www.grupobancolombia.com/wps/wcm/connect/4bda26e8-affb-493a-afd2-c4e637a14d9d/thumbnail-credito-constructor.jpg?MOD=AJPERES"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">fabi.king</ion-label>
    </div>
    <div class="ion-parent-profile ion-margin-start">
      <div class="ion-rounded">
        <div class="ion-parent-img">
          <ion-avatar class="ion-size-img">
            <ion-img class="ion-img" src="https://www.itsitio.com/wp-content/uploads/2020/06/Mauro_Guerrero2.jpg"></ion-img>
          </ion-avatar>
        </div>
      </div>
      <ion-label class="ion-text-center ion-nowrap">angel_mar</ion-label>
    </div>    
  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-row-center-vertical ion-no-padding" size="11">
        <ion-avatar class="icon-size ion-margin">
          <ion-img class="ion-img" src="https://laboratoriosniam.com/wp-content/uploads/2018/07/michael-dam-258165-unsplash_WEB2.jpg"></ion-img>
        </ion-avatar>
        <ion-label>maria_gomez</ion-label>
      </ion-col>

      <ion-col class="ion-row-center-vertical ion-no-padding" (click) = "details_publications()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src = "https://i.pinimg.com/564x/42/a8/3d/42a83d3d5996c0cf43e5b8deb8e8ceee.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="10">
        <ion-icon name="heart-outline" class="icon-size" (click) = "meGusta('like1')" id="like1" fill="red"></ion-icon>
        <ion-icon name="chatbubble-outline" class="icon-size ion-margin-horizontal"></ion-icon>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-flex ion-justify-content-end">
        <ion-icon name="bookmark-outline" class="icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-label class="ion-text-strong ion-size-small">28 Me gusta</ion-label>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="ion-bold">maria_gomez</ion-label>
        <ion-text>
          Esperé esta foto un montón, la lloré, La pensé, la soñe y la logré 💪🏼🤩♥️👩‍❤️‍👨
          "Todo tiene su tiempo, y todo lo que se quiere debajo del cielo tiene su hora" eclesiastés 3. 🙏🏻🙌🏼
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-label color="medium">
          Ver los 5 comentarios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">maria_gomez</ion-label>
        <ion-text>
          @joannabarbel te amo herma 💞
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">wiliyosor</ion-label>
        <ion-text>
          Felicidades. Dios los bendiga
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label color="medium" class="ion-size-very-small">
          HACE 10 HORAS
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-row-center-vertical ion-no-padding" size="11">
        <ion-avatar class="icon-size ion-margin">
          <ion-img class="ion-img" src="https://static.iris.net.co/dinero/upload/images/2020/6/9/289130_1.jpg"></ion-img>
        </ion-avatar>
        <ion-label class="ion-bold">alberto.mejia</ion-label>
      </ion-col>

      <ion-col class="ion-row-center-vertical ion-no-padding" (click) = "details_publications()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src = "https://i.pinimg.com/originals/76/35/bd/7635bd90346baa7043314b6d781a02be.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="10">
        <ion-icon name="heart-outline" class="icon-size"></ion-icon>
        <ion-icon name="chatbubble-outline" class="icon-size ion-margin-horizontal"></ion-icon>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-flex ion-justify-content-end">
        <ion-icon name="bookmark-outline" class="icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-label class="ion-text-strong ion-size-small">28 Me gusta</ion-label>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="ion-bold">alberto.mejia</ion-label>
        <ion-text>
          ✨Tenía muchos meses sin subir una fotico. 🌻🍃🌸 Creo que no soy la mas constante en redes sociales 😝.
            @katerinejulietn 📷
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-label color="medium">
          Ver los 5 comentarios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">alberto.mejia</ion-label>
        <ion-text>
          @joannabarbel te amo herma 💞
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">wiliyosor</ion-label>
        <ion-text>
          Felicidades. Dios los bendiga
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label color="medium" class="ion-size-very-small">
          HACE 5 HORAS
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-row-center-vertical ion-no-padding" size="11">
        <ion-avatar class="icon-size ion-margin">
          <ion-img class="ion-img" src="https://www.xlsemanal.com/wp-content/uploads/sites/3/2019/12/edward-norton-no-te-puedes-fiar-de-las-personas-que-fueron-felices-cuanto-tenian-14-anso.jpg"></ion-img>
        </ion-avatar>
        <ion-label class="ion-bold">dr.medasculo_moreno</ion-label>
      </ion-col>

      <ion-col class="ion-row-center-vertical ion-no-padding" (click) = "details_publications()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src = "https://mott.pe/noticias/wp-content/uploads/2019/02/10-tips-geniales-para-tomar-una-sesion-de-fotos-para-parejas-1280x720.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="10">
        <ion-icon name="heart-outline" class="icon-size"></ion-icon>
        <ion-icon name="chatbubble-outline" class="icon-size ion-margin-horizontal"></ion-icon>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-flex ion-justify-content-end">
        <ion-icon name="bookmark-outline" class="icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-label class="ion-text-strong ion-size-small">28 Me gusta</ion-label>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="ion-bold">dr.medasculo_moreno</ion-label>
        <ion-text>
          ✨Tenía muchos meses sin subir una fotico. 🌻🍃🌸 Creo que no soy la mas constante en redes sociales 😝.
            @katerinejulietn 📷
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-label color="medium">
          Ver los 2 comentarios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">dr.medasculo_moreno</ion-label>
        <ion-text>
          @joannabarbel te amo herma 💞
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label color="medium" class="ion-size-very-small">
          HACE 5 HORAS
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-row-center-vertical ion-no-padding" size="11">
        <ion-avatar class="icon-size ion-margin">
          <ion-img class="ion-img" src="https://www.itsitio.com/wp-content/uploads/2020/06/Mauro_Guerrero2.jpg"></ion-img>
        </ion-avatar>
        <ion-label class="ion-bold">angel_mar</ion-label>
      </ion-col>

      <ion-col class="ion-row-center-vertical ion-no-padding" (click) = "details_publications()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src = "https://www.okchicas.com/wp-content/uploads/2019/05/Fotos-incre%C3%ADbles-con-tu-mejor-amiga-1.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="10">
        <ion-icon name="heart-outline" class="icon-size"></ion-icon>
        <ion-icon name="chatbubble-outline" class="icon-size ion-margin-horizontal"></ion-icon>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-flex ion-justify-content-end">
        <ion-icon name="bookmark-outline" class="icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-label class="ion-text-strong ion-size-small">28 Me gusta</ion-label>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="ion-bold">angel_mar</ion-label>
        <ion-text>
          ✨Tenía muchos meses sin subir una fotico. 🌻🍃🌸 Creo que no soy la mas constante en redes sociales 😝.
            @katerinejulietn 📷
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-label color="medium">
          Ver los 2 comentarios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">angel_mar</ion-label>
        <ion-text>
          @joannabarbel te amo herma 💞
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">wiliyosor</ion-label>
        <ion-text>
          Felicidades. Dios los bendiga
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label color="medium" class="ion-size-very-small">
          HACE 5 HORAS
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-row-center-vertical ion-no-padding" size="11">
        <ion-avatar class="icon-size ion-margin">
          <ion-img class="ion-img" src="https://i.pinimg.com/564x/58/aa/56/58aa5604c381a12ee9c38a81864e7985.jpg"></ion-img>
        </ion-avatar>
        <ion-label>odacir_enrique</ion-label>
      </ion-col>

      <ion-col class="ion-row-center-vertical ion-no-padding" (click) = "details_publications()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src = "https://i.pinimg.com/originals/07/8f/f0/078ff051e332921a97bf4b060c4dae88.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="10">
        <ion-icon name="heart-outline" class="icon-size"></ion-icon>
        <ion-icon name="chatbubble-outline" class="icon-size ion-margin-horizontal"></ion-icon>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-flex ion-justify-content-end">
        <ion-icon name="bookmark-outline" class="icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-label class="ion-text-strong ion-size-small">28 Me gusta</ion-label>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="ion-bold">odacir_enrique</ion-label>
        <ion-text>
          ✨Tenía muchos meses sin subir una fotico. 🌻🍃🌸 Creo que no soy la mas constante en redes sociales 😝.
            @katerinejulietn 📷
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-label color="medium">
          Ver los 52 comentarios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">odacir_enrique</ion-label>
        <ion-text>
          @joannabarbel te amo herma 💞
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">wiliyosor</ion-label>
        <ion-text>
          Felicidades. Dios los bendiga
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label color="medium" class="ion-size-very-small">
          HACE 5 HORAS
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-row-center-vertical ion-no-padding" size="11">
        <ion-avatar class="icon-size ion-margin">
          <ion-img class="ion-img" src="https://d3j6lal8h4ou1t.cloudfront.net/uploads/2017/12/greicy.jpg"></ion-img>
        </ion-avatar>
        <ion-label>greiccy rendon</ion-label>
      </ion-col>

      <ion-col class="ion-row-center-vertical ion-no-padding" (click) = "details_publications()">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-img src = "https://lavibrante.com/wp-content/uploads/2019/10/greicy-musica-artistas.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size="10">
        <ion-icon name="heart-outline" class="icon-size"></ion-icon>
        <ion-icon name="chatbubble-outline" class="icon-size ion-margin-horizontal"></ion-icon>
        <ion-icon class="icon-size" name="paper-plane-outline"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-flex ion-justify-content-end">
        <ion-icon name="bookmark-outline" class="icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-label class="ion-text-strong ion-size-small">28 Me gusta</ion-label>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label class="ion-bold">greiccy rendon</ion-label>
        <ion-text>
          ✨Tenía muchos meses sin subir una fotico. 🌻🍃🌸 Creo que no soy la mas constante en redes sociales 😝.
            @katerinejulietn 📷
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-label color="medium">
          Ver los 580 comentarios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">greiccy rendon</ion-label>
        <ion-text>
          @joannabarbel te amo herma 💞
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-horizontal">
      <ion-col size="11">
        <ion-label class="ion-bold">wiliyosor</ion-label>
        <ion-text>
          Felicidades. Dios los bendiga
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-label color="medium" class="ion-size-very-small">
          HACE 5 HORAS
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
