<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Actividad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor = "let follow of following">
      <ion-avatar>
        <ion-img [src]="follow.urlImg"></ion-img>
      </ion-avatar>
      <div class="ion-margin-horizontal">
        <ion-label class="ion-size-small ion-bold">{{follow.user}}</ion-label>
        <ion-label class="ion-size-small" color="medium">comenzó a seguirte</ion-label>
      </div>
      <ion-buttons slot="end">
        <ion-button color="medium" fill="outline">Siguiendo</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-title class="ion-margin-vertical">Sugerencias para tí</ion-title>

  <ion-list>
    <ion-item *ngFor = "let noFollow of noFollowing">
      <ion-avatar>
        <ion-img [src]="noFollow.urlImg"></ion-img>
      </ion-avatar>
      <div class="ion-margin-horizontal">
        <ion-label class="ion-size-small ion-bold">{{noFollow.user}}</ion-label>
        <ion-label class="ion-size-small" color="medium">{{noFollow.name}}</ion-label>
      </div>
      <ion-buttons slot="end">
        <ion-button color="primary" fill="solid">Seguir</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
