.ion-search {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 35px;
    display: flex;
    align-items: center;
}

.ion-size-small {
    font-size: 13px;
}

ion-item {
    --border-style: none;
}

ion-input {
    font-size: 15px;
    margin-left: 3px;
}

.ion-bold {
    font-weight: bold;
}

