<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-search" id="search">
      <ion-icon name="search" color="medium" class="ion-margin-start"></ion-icon>
      <ion-input id="input_search" type="text" placeholder="Buscar" class="ion-no-padding" clearInput="true" (ionBlur) = "searchNoFocus()" (ionFocus) = "searchFocus()" autofocus="true" (keyup) = "search(user)" #user value=""></ion-input>
    </div>
    <ion-label slot="end" class="ion-margin-end ion-bold" (click) = "goTosearch()">Cancelar</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor = "let user of data">
      <ion-avatar>
        <ion-img [src]="user.urlImg"></ion-img>
      </ion-avatar>
      <div class="ion-margin-horizontal">
        <ion-label class="ion-size-small ion-bold">{{user.user}}</ion-label>
        <ion-label class="ion-size-small" color="medium">{{user.name}}</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
